<p>We received a request to reset your password for your Ample Printhub account.</p>

<div class="info-box">
  <p><strong>⏰ This reset link will expire in 1 hour.</strong></p>
  <p>If you didn't request this, please ignore this email and your password will remain unchanged.</p>
</div>

<p>Click the button below to set a new password:</p>